@model _04_Data.Datos.Tema

@{
    ViewBag.Title = "Delete";
}


<!-- Header Start -->
<div class="jumbotron jumbotron-fluid mb-5">
    <div class="container text-center py-5">
        <h1 class="text-white display-3">Borrar Tema</h1>
        <div class="d-inline-flex align-items-center text-white">
            <p class="m-0"><a class="text-white" href="">Incio</a></p>
            <i class="fa fa-circle px-3"></i>
            <p class="m-0">Borrar Tema</p>
        </div>
    </div>
</div>
<!-- Header End -->

<div class="container-fluid py-5">
    <div class="container">


        <h3>¿Estás seguro que quieres borrar esto?</h3>
        <div>
            <h4>Tema</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.nombre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.nombre)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.link)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.link)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Disco.nombre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Disco.nombre)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Borrar" class="btn btn-default btn btn-primary py-2 px-4 my-2" /> |
                    @Html.ActionLink("Volver a la lista", "Index")
                </div>
            }
        </div>
    </div>


</div>